html,body { 
	height:100%; 
	padding-top: 4.5% ;
	margin: 0%;
}
html,content { 
	height:100%; 
	padding:0;
	margin: 0 ;
}
input:focus{
	outline:none;
}
textarea:focus{
	outline:none;
}
.navbar-default{
	background-color: #FFFFFF;
	border-bottom:1px #B0B0B0 solid;
}

.navbar{
    background-color:#FFFFFF;
}
.navbar .nav > li > a{
	color: #59514D;	
}
.navbar .nav >li >a:visited{
    color:#59514D ;

}
.navbar .nav > li > a:hover {
    color: #EBBA4D;

}
.navbar .nav >li >a:active{
    color: #EBBA4D;
}
.navbar-nav>.active>a:hover{
    color:#EBBA4D;
 }
.nav .navbar-nav .navbar-right >li >a:hover {
	color: #EBBA4D;	
}
.nav .navbar-nav .navbar-right >li >a:active {
	color: #EBBA4D;	
}
.nav > li:visited .dropdown-toggle {
	background-color: #FFFFFF;	
}
.nav > li:hover .dropdown-menu {
	font-family:Microsoft JhengHei;
    font-size:100%;
    font-weight:bolder;
	display: block;
	background-color: #FFFFFF;
	border:1px #B0B0B0 solid;
	border-top:1px #FFFFFF solid;	
}

.navbar-fixed-top {
min-height: 9.3%;
}


.section{
        position: relative;
        margin:0px auto;
        width: 90%;
    }
    #sec01{
        background-image:url( 'https://i.imgur.com/soelR4n.jpg');
        background-size:cover;
        font-color:white;
        height: 92.1%;
    }
    #sec02{
        background-color:white;
        height: 83%;
        font-size: 100%;
        font-family: Microsoft JhengHei;
    }
    #sec03{
        background:#9F88FF;
        height: 83%;
    }
    #sec04{
        background: #FF7744;
        height: 83%;
    }
    #sec05{
        background:	#DEB887;
        height: 90%;
    }
.section2{
        position: relative;
        margin:0px auto;
        width: 90%;
        height: 10%;
    }
     #s05{
     	width: 100%;
    }
.A-1{
	position: absolute;
	left: 2%;
	line-height: 60px;
	font-size: 230%;
	font-family: Microsoft JhengHei;
	letter-spacing:20px;
}
.A-0{
	position: absolute;
		left:2%;
		line-height: 60px;
		font-size: 200%;
		font-family: 'Raleway', sans-serif;
		letter-spacing:20px;
}
#B-0{
	position: absolute;
	top: 6%;
	left: 5%; 
	width:45%;
	height:50%;
	background-color: #DEB887;
	box-shadow:4px 4px 12px black;
	}
#B-1{
		position: absolute;
		top: 20%;
		left: 45%;
		width:46%;
		height:70%;
		background-color: #FFFFFF;
		border:2px #B0B0B0 solid;
		border-radius :10px;
	}
#B-2{
 		position: relative;
        margin:0px auto;
        top: 5%;
		width:70%;
		height:80%;
		background-color: white;
		border:0px white solid;
		border-radius: 10px; 
	}
#B-3{
	position: absolute;
	top: 87%;
	left: 16.5%;
	background-image:url(圖片網址);
	width:4%;
	height:10%;
	border-radius: 50px;


}	

.BOTTOM{
   position:fixed;
   bottom:0;
   width:100%;
   height:8%;
   background-color: white;
   display:  flex;
   align-items: center;
   justify-content:  center;
   border-top:1px #B0B0B0 solid;


}

.div-2{
	position:absolute;		
	top: 45%;
	left: 32%;
	font-family:'Montserrat', sans-serif;
	font-size: 300%;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 15px;
	letter-spacing:30px;
	color:white;
}
.div-3{
	position:absolute;		
	top: 60%;
	left: 23%;
	font-family : 'Raleway', sans-serif;
	display: block;
	font-size: 250%;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	line-height: 10px;
	letter-spacing:15px;
	color:white;
}
.div-1 {
	position: fixed;
	top: -1%;
	left: 2%;
}
.div-d{
	top: 1%;
    right: 1.8%;
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:110%;
    position: fixed;
    letter-spacing:2px;
    font-weight:bolder;
    padding-right: 10px;
    color: #000000; 
}	
.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 5% 5%;
	font-size:130%;		
	font-family: fantasy;		
	font-weight: 200;
	font-style: normal;
	letter-spacing:8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	position: relative;
	border-radius:5px;

}	
.button-2 {
		background-color: white;
		color: #59514D;	
	}
.button-2:hover {
		background-color: #7B736F;
		color: white;
	}
#tt{
	color:#ccc;

}
#aa{

}
.t0{
	position: absolute;
	top: 89%;
	left: 23%;
	width:55%;
	height:7%;
	border-radius:50px;
	border:1px black solid;
	padding-left: 2%;
	border:0
}
.t11{
	position: absolute;
	top: 89.5%;
	left: 80%;
	width:5%;
	height:6%;
	border-radius:50px;
}
.t1{
	width:12%;
	height:6%;
	position: absolute;
	top: 31%;
	left: 54%;
}
.t2{
	width:19%;
	height:6%;
	position: absolute;
	top: 31%;
	left: 67%;
}
.t3{
	width:14%;
	height:6%;
	position: absolute;
	top: 38.5%;
	left: 53%;
}
.t4{
	width:35%;
	height:30%;
	position: absolute;
	top: 46%;
	left: 52%;
}
.t5{
	width:7%;
	height:6%;
	position: absolute;
	top: 77%;
	left: 80%;
}
.t-1{
	position: absolute;
	top:15%;
	left: 40%;
	width:53%;
	border:0.3vw white solid;
	border-left:22vh solid transparent;
 	border-bottom:58vh solid white;
}
.t-1-1{
	position: absolute;
	top: 2%;
	left: -25%;
	width:125%;
	border-left:22vh solid transparent;
 	border-bottom:57.3vh solid #DEB887;
}
.t-1-2{
 
}
.T-0{
	position: absolute;
	top: 7%;
	left: 7%;
	width:50%;
	border-right:20vh solid transparent;
 	border-top:60vh solid white;
}


.A1{
	position:absolute;
	top: 23%;
	left: 25%;
	border:0.1vw white solid; 
	width: 50%;
	background-color: white;
}
