html,body { 
	height:100%;
	padding-top: 3.7% ;
	margin: 0%;
}
html,content { 
	height:100%; 
	padding:0;
	margin: 0 ;
}
input:focus{
	outline:none;
}
textarea:focus{
	outline:none;
}
.navbar-default{
	background-color: #FFFFFF;
	border-bottom:1px #B0B0B0 solid;
}

.navbar{
    background-color:#FFFFFF;
}
.navbar .nav > li > a{
	color: #59514D;	
}
.navbar .nav >li >a:visited{
    color:#59514D ;

}
.navbar .nav > li > a:hover {
    color: #EBBA4D;

}
.navbar .nav >li >a:active{
    color: #EBBA4D;
}
.navbar-nav>.active>a:hover{
    color:#EBBA4D;
 }
.nav .navbar-nav .navbar-right >li >a:hover {
	color: #EBBA4D;	
}
.nav .navbar-nav .navbar-right >li >a:active {
	color: #EBBA4D;	
}
.nav > li:visited .dropdown-toggle {
	background-color: #FFFFFF;	
}
.nav > li:hover .dropdown-menu {
	font-family:Microsoft JhengHei;
    font-size:100%;
    font-weight:bolder;
	display: block;
	background-color: #FFFFFF;
	border:1px #B0B0B0 solid;
	border-top:1px #FFFFFF solid;	
}

.navbar-fixed-top {
min-height: 8%;
}


.section{
        position: relative;
        margin:0px auto;
        width: 90%;
    }
    #sec01{
        font-color:white;
        height: 92.1%;
    }
    #img0{
    	position: absolute;
    	top: -40%;
    	width: 100%;
		height: 140%;
		opacity: 0.9;
    }
    #sec02{
        background-color:white;
        height: 83%;
        font-size: 100%;
        font-family: Microsoft JhengHei;
    }
    #sec03{
        background:#9F88FF;
        height: 83%;
    }
    #sec04{
        background: #FF7744;
        height: 83%;
    }
    #sec05{
        background:	#DEB887;
        height: 90%;
    }
#pageone-1{ 
	position: absolute;
	top: 280%;
	left: 29%;
	background: #DEB887;
    height: 62%;
    width: 65%;
    border:1px black  solid;
    display:none;

}
.pageone-1-btn1{
	position: absolute;
	top: 2%;
	left: 94%;
	height: 10%;
    width: 5%;
    border-radius: 50px;
}
#pageone-2{ 
	position: absolute;
	top: 280%;
	left: 29%;
	background: #DEB887;
    height: 64%;
    width: 65%;
    border:1px black  solid;
    display:none;
}
.pageone-2-btn1{
	position: absolute;
	top: 2%;
	left: 94%;
	height: 10%;
    width: 5%;
    border-radius: 50px;
}   
#pageone-4{ 
	position: absolute;
	top: 280%;
	left: 29%;
	background: #DEB887;
    height: 64%;
    width: 65%;
    border:1px black solid;
    display:none;
}
.pageone-3-btn1{
	position: absolute;
	top: 2%;
	left: 94%;
	height: 10%;
    width: 5%;
    border-radius: 50px;
}          
.section2{
        position: relative;
        margin:0px auto;
        width: 90%;
        height: 10%;
    }
    #s02{
    	background-color: white;
    }
     #s05{
     	width: 100%;
    }
.A-1{
	position: absolute;
	left: 2%;
	line-height: 60px;
	font-size: 230%;
	font-family: Microsoft JhengHei;
	letter-spacing:20px;
}
.A-0{
	position: absolute;
		left:2%;
		line-height: 60px;
		font-size: 200%;
		font-family: 'Raleway', sans-serif;
		letter-spacing:20px;
}
#B-0{
	position: absolute;
	top: 22%;
	left: 47%; 
	width:40%;
	height:55%;
	background-color: #DEB887;
	box-shadow:4px 4px 12px black;
	}
#B-1{
		position: absolute;
		top: 30%;
		left: 60%;
		width:30%;
		height:50%;
		background-color: #FFFFFF;
		border:2px #B0B0B0 solid;
		border-radius :10px;
	}
#B-2{
 		position: relative;
        margin:0px auto;
        top: 5%;
		width:70%;
		height:80%;
		background-color: white;
		border:0px white solid;
		border-radius: 10px; 
	}
#B-3{
	position: absolute;
	top: 87%;
	left: 16.5%;
	background-image:url(圖片網址);
	width:4%;
	height:10%;
	border-radius: 50px;


}
#B-4{
	position: absolute;
		top: 0%;
		left: 20%;
		width:60%;
		height:70%;
		background-color: #FFFFFF;
		border:0px #B0B0B0 solid;
		border-radius :10px;
}
#B-4-4{
	position: absolute;
	top: -40%;
	left: 10%; 
	height: 130%;
	width:100%;
	overflow:hidden;
}
#B-5{
	position: absolute;
		top: 25%;
		left: 0%;
		width:100%;
		height:100%;
		border:0px #B0B0B0 solid;
}
#B-6{
	position: absolute;
		top: 12%;
		left: 8%;
		width:35%;
		height:45%;
		border:2px #B0B0B0 solid;
		background-color: white;
}
	
.BOTTOM{
   position:fixed;
   bottom:0;
   width:100%;
   height:8%;
   background-color: white;
   display:  flex;
   align-items: center;
   justify-content:  center;
   border-top:1px #B0B0B0 solid;


}
#BOTTOM-pic-1{
	position: relative;
	left: 120%;
	height: 10%;
	width:  10%;
}
#BOTTOM-pic-2{
	position: relative;
	left: 40%;
	height: 10%;
	width:  10%;
}
#BOTTOM-pic-3{
	position: relative;
	left: -40%;
	height: 10%;
	width:  10%;
}
.div-2{
	position:absolute;		
	top: 55%;
	left: 46%;
	font-family:'Quicksand', sans-serif;
	font-size: 300%;
	line-height: 20px;
	letter-spacing:30px;
	color:white;
	font-style: italic;

}
.div-3{
	position:absolute;		
	top: 68%;
	left: 53%;
	font-family:'Raleway', sans-serif;
	display: block;
	font-size: 180%;
	line-height: 10px;
	letter-spacing:15px;
	color:white;
	font-style: italic;

}
.div-1 {
	position: fixed;
	top: -0.6%;
	left: 2%;
}
.div-d{
	top: 0.8%;
    right: 1.8%;
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:120%;
    position: fixed;
    letter-spacing:2px;
    font-weight:bolder;
    padding-right: 10px;
    color: #000000; 
}	
.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 5% 5%;
	font-size:130%;		
	font-family: fantasy;		
	font-weight: 200;
	font-style: normal;
	letter-spacing:8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	position: relative;
	border-radius:5px;

}	
.button-2 {
		background-color: white;
		color: #59514D;	
	}
.button-2:hover {
		background-color: #7B736F;
		color: white;
	}
#tt{
	color:#ccc;

}
#aa{

}
.t0{
	position: absolute;
	top: 89%;
	left: 23%;
	width:55%;
	height:7%;
	border-radius:50px;
	border:1px black solid;
	padding-left: 2%;
	border:0
}
.t11{
	position: absolute;
	top: 89.5%;
	left: 80%;
	width:5%;
	height:6%;
	border-radius:50px;
}
.t1{
	width:12%;
	height:6%;
	position: absolute;
	top: 31%;
	left: 54%;
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:100%;
    padding-left: 3px;
    letter-spacing: 2px;
    border-radius: 5px;
}
.t2{
	width:19%;
	height:6%;
	position: absolute;
	top: 31%;
	left: 67%;
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:100%;
    padding-left: 3px;
    letter-spacing: 2px;
    border-radius: 5px;
}
.t3{
	width:14%;
	height:6%;
	position: absolute;
	top: 38.5%;
	left: 53%;
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:100%;
    padding-left: 3px;
    letter-spacing: 2px;
    border-radius: 5px;
}
.t4{
	width:35%;
	height:30%;
	position: absolute;
	top: 46%;
	left: 52%;
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:100%;
    letter-spacing: 2px;
    border-radius: 10px;
}
.t5{
	width:7%;
	height:6%;
	position: absolute;
	top: 77%;
	left: 80%;
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:100%;
    padding-left: 3px;
    border-radius: 5px;
}
.t-1{
	position: absolute;
	top:15%;
	left: 40%;
	width:53%;
	border:0.3vw white solid;
	border-left:22vh solid transparent;
 	border-bottom:58vh solid white;
}
.t-1-1{
	position: absolute;
	top: 2%;
	left: -27%;
	width:126.5%;
	border-left:22vh solid transparent;
 	border-bottom:57.3vh solid #DEB887;
}
.t-1-2{
 
}
.T-0{
	position: absolute;
	top: 7%;
	left: 7%;
	width:50%;
	border-right:20vh solid transparent;
 	border-top:60vh solid white;
}


.A1{
	position:absolute;
	top: 23%;
	left: 25%;
	border:0.1vw white solid; 
	width: 50%;
	background-color: white;
}
.Q0{
	position: absolute;
	top: 12%;
	left: 4%;
	width:20%;
	height:15%;
	border-radius:50px;
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:200%;
    letter-spacing:15px;
    font-weight:bolder;
}
.Q1{
	position: absolute;
	top: 42%;
	left: 4%;
	width:20%;
	height:15%;
	border-radius:50px;
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:200%;
    letter-spacing:15px;
    font-weight:bolder;
}
.Q2{
	position: absolute;
	top: 72%;
	left: 4%;
	width:20%;
	height:15%;
	border-radius:50px;
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:200%;
    letter-spacing:15px;
    font-weight:bolder;
}
.arrow_l_in{
width:0px;
height:0px;
border-width:30px;
border-style:solid;
border-color:transparent #DEB887 transparent transparent;
position:absolute;
top:6.5%;
left:-6%;
}
.arrow_l_out{
width:0px;
height:0px;
border-width:30px;
border-style:solid;
border-color:transparent black transparent transparent;
position:absolute;
top:6.5%;
left:-6.1%;
}
.arrow_2_in{
width:0px;
height:0px;
border-width:30px;
border-style:solid;
border-color:transparent #DEB887 transparent transparent;
position:absolute;
top:43%;
left:-6%;
}
.arrow_2_out{
width:0px;
height:0px;
border-width:30px;
border-style:solid;
border-color:transparent black transparent transparent;
position:absolute;
top:43%;
left:-6.1%;
}
.arrow_3_in{
width:0px;
height:0px;
border-width:30px;
border-style:solid;
border-color:transparent #DEB887 transparent transparent;
position:absolute;
top:80%;
left:-6%;
}
.arrow_3_out{
width:0px;
height:0px;
border-width:30px;
border-style:solid;
border-color:transparent black transparent transparent;
position:absolute;
top:80%;
left:-6.1%;
}
.inside0{
	position: absolute;
	top: 18%;
	left: 4%;
	width:33%;
	height:75%;
	border:0.1vw black solid;
	border-radius:5px;
}
.inside0-header{
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:250%;

    letter-spacing:15px;
    font-weight:bold;
    padding-left: 6%;
}
#inside0-color-1{
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:150%;
    letter-spacing:15px;
    text-align:center;
    font-weight:bold;
    padding-left: 23%;

}
#inside0-color-2{
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:150%;
    letter-spacing:15px;
    text-align:center;
    font-weight:bold;
    padding-left: 20%;

}
.inside1{
	position: absolute;
	top: 18%;
	left: 39%;
	width:28%;
	height:75%;
	border:0.1vw black solid;
	border-radius:5px;
}
.inside2{
	position: absolute;
	top: 18%;
	left: 69%;
	width:28%;
	height:75%;
	border:0.1vw black solid;
	border-radius:5px;
}
.inside-words-color{
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:110%;
    color:black;
    font-weight:bolder;
    text-align: center;
}
.inside-words-color-1{
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:100%;
    color:black;
    font-weight:bolder;
    text-align: center;
}
.inside-words-color-0{
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:103%;
    color:black;
    font-weight:bolder;
    text-align: center;
}
.pageone-2-words{
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:300%;
    letter-spacing:10px;
    text-align:center;
    font-weight:bold;
}
.container .img-holder {
  width:30%;
  height:60%;
  position:absolute;
  background-color:#fff;  
  box-shadow:0px 1px 6px 3px #ccc; 
  visiblity:hidden;
  opacity:0;
  top:30%;
  left:35%;
  cursor:pointer;
  z-index:99;
}

.container .img-holder img {margin-top:5px;}

.container{   
  position:relative;
  height:75%;
  width:80%;
  left:0%;
  top:-10%;
  border:0px solid #ccc;
  text-indent:4px;
  font-weight:bold;
}

.controller{
  top:120px;
  left:20px;
  width:300px;
  margin:0 auto;
  position:relative;
}

.scrolller-container{
  width:800px;
  height:15px;
  border:0px solid #ccc;
  border-radius:10px;
  position:relative;
  top:150px;
  left:130px;
  cursor:pointer; 
}
.scrolller-container .scroller{
   width:100px;
   height:15px;
   background-color:none;
   border-radius:10px;
   position:absolute;
   left:0px;
}

/* For reflection */
.container .img-ref{
  position:relative;
  left:0;   
  z-index:-1;
}
.container .img-ref img {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
}
.container .img-ref:after {
  content: "";
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(38%, rgba(255, 255, 255, 0)), color-stop(40% rgba(255, 255, 255, 0.67)), color-stop(65% #fff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.67) 40%, #fff 65%);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.67) 40%, #fff 65%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.67) 40%, #fff 65%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.67) 40%, #fff 65%);
  background: linear-gradient(top, rgba(255, 255, 255, 0) 38%, rgba(0, 0, 0, 0.67) 40%, #fff 65%);
}
#img1{
	width: 95%;
	height: 78%;
	padding-left: 2%;
}
h2{
	position: absolute;
	top: 72%;
	left: 30%;
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:150%;
    color:black;
    font-weight:bolder;
}
h2:hover{
	position: absolute;
	top: 72%;
	left: 30%;
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:150%;
    color:#EBBA4D;
    font-weight:bolder;
}
h3{
	position: absolute;
	top: 72%;
	left: 34%;
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:150%;
    color:black;
    font-weight:bolder;
}
h3:hover{
	position: absolute;
	top: 72%;
	left: 34%;
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:150%;
    color:#EBBA4D;
    font-weight:bolder;
}  
h4{
	position: absolute;
	top: 78%;
	left: 26%;
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:150%;
    color:black;
    font-weight:bolder;
}
h4:hover{
	position: absolute;
	top: 78%;
	left: 26%;
	font-family:'Microsoft JhengHei', sans-serif;
    font-size:150%;
    color:#EBBA4D;
    font-weight:bolder;
}
#pageone-4-word1{
	position: absolute;
	top: 5%;
	left: 10%;
	font-family: 'Roboto', sans-serif;
	font-size:350%;
	font-weight: bold;
}
#pageone-4-word2{
	position: absolute;
	top: 25%;
	left: 10%;
	font-family: 'Roboto', sans-serif;
	font-size:150%;
	font-weight: bold;
}
#pageone-4-word3{
	position: absolute;
	top: 42%;
	left: 10%;
	font-family: 'Microsoft JhengHei', sans-serif;
	font-size:150%;
	font-weight: bold;
}
#pageone-4-word4{
	position: absolute;
	top: 42%;
	left: 35%;
	font-family: 'Microsoft JhengHei', sans-serif;
	font-size:150%;
	font-weight: bold;
}
#pageone-4-word5{
	position: absolute;
	top: 42%;
	left: 60%;
	font-family: 'Microsoft JhengHei', sans-serif;
	font-size:150%;
	font-weight: bold;
}
#yearInput{
	background-color: #DEB887;
}
#depositInput{
	background-color: #DEB887;
}
#receiveInput{
	background-color: #DEB887;
}
#btnClick{
	position: absolute;
	top: 52%;
	left: 85%;
	border-radius: 5px;
	height: 10%;
	width: 10%;
}
#pageone-4-word6{
	position: absolute;
	top: 75%;
	left: 10%;
	font-family: 'Roboto', sans-serif;
	font-size:150%;
	font-weight: bold;
}
#IRROutput{
	position: absolute;
	top: 75%;
	left: 30%;
	font-family: 'Roboto', sans-serif;
	font-size:150%;
	font-weight: bold;
}
:focus{outline: none;}
.col-1{
	position: absolute;
	top: 54%;
	left: 10%;
	background-color: #DEB887;
}
.col-2{
	position: absolute;
	top: 54%;
	left: 35%;
	background-color: #DEB887;
}
.col-3{
	position: absolute;
	top: 54%;
	left: 60%;

}
.col-4{
	position: absolute;
	top: 31%;
	right: 34%;
	background-color: white;
	height: 6.2%;
	width: 12%;
}
.effect-1{
	border: 0; 
	padding: 4px 0; 
	border-bottom: 2px solid black;
}
.effect-2{
	border: 0; 
	padding: 4px 0; 
	border-bottom: 2px solid black;
}  
.effect-3{
	border: 0; 
	padding: 4px 0; 
	border-bottom: 2px solid black;
}         
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 3px; background-color: #FFFFFF	; transition: 0.4s;  }
.effect-1:focus ~ .focus-border{width: 100%; transition: 0.4s;}
.effect-2 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 3px; background-color: #FFFFFF	; transition: 0.4s; }
.effect-2:focus ~ .focus-border{width: 100%; transition: 0.4s;}
.effect-3 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 3px; background-color: #FFFFFF	; transition: 0.4s; }
.effect-3:focus ~ .focus-border{width: 100%; transition: 0.4s;}

#hr01{
	border: 0px solid black;
	position: absolute;
	top: 82.6%;

}
#hr02{
	border: 0px solid black;
	position: absolute;
	top: 169%;

}
#hr03{
	border: 0px solid black;
	position: absolute;
	top:254%;

}
#hr04{
	border: 0px solid black;
	position: absolute;
	top:340%;

}